---
---

@import "{{ site.theme }}";
table {

    border-collapse: collapse !important;
    border-spacing: 0;
    border: 1px solid black;

    th,
    td {
        border: 1px solid #e5e5e5;
    }
}