---
---

@import "{{ site.theme }}";
table {

    border-collapse: collapse !important;
    border-spacing: 0;
    border: 2px dotted black;
    border-radius: 4px;

    th,
    td {
        border: 1px solid #e5e5e5;
    }
}

footer {
    
    position: fixed;
    bottom: 0px;
}
